body {
    /* To set the background image*/
    background: url(https://previews.123rf.com/images/sn333g/sn333g1606/sn333g160600096/59034750-para-hacer-la-lista-de-la-ilustraci%C3%B3n-vector-alrededor-lista-de-tareas-y-el-s%C3%ADmbolo-de-la-planificaci%C3%B3n-line.jpg);
    /*this is for background image*/
  }
  
  #header {
    color: black;
    /*Text color of header*/
    font-weight: bold;
    /*Text bold*/
    font-size: 20px;
    /*size of the font*/
    border: 4px solid #000000;
    /* Color of the border*/
    border-radius: 20px;
    text-align: center;
  }
  
  #username {
    color: black;
    font-weight: bold;
    font-size: 12px;
    text-align: end;
  }
  
  /*buttons*/
  
  .button {
    color: black;
    font-weight: bold;
    background-color: #cccccc;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    border-radius: 50px;
  }
  
  .navigator {
    list-style-type: none;
    /*Does not assign blue-color to hyper link*/
    margin: 0;
    padding: 0;
    overflow: hidden;
    /*You can add scroll bar too.Overflow to clip content*/
    background-color: #262626;
    border-radius: 20px;
  }
  
  li:not(.defaultList) {
    float: left;
    /* border: 5px solid black;*/
  }
  
  .button:hover {
    background-color: white;
  }
  
  input[type=text] {
    width: 200px;
    box-sizing: border-box;
    border: 4px solid #ccc;
    border-radius: 50px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    &:focus {
      width: 70%;
    }
  }
  
  .btn {
    height: 30px;
    width: 100px;
    padding: 10px;
    font-weight: bold;
    background: #cccccc;
    color: black;
    float: right;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 50px;
    &:hover {
      background-color: white;
    }
  }
  
  .close {
    position: relative;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
    &:hover {
      background-color: #cccccc;
      color: black;
    }
  }
  
  #list li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    list-style-type: none;
    background: white;
    font-size: 18px;
    transition: 0.2s;
    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    &:hover {
      background: #ddd;
    }
  }
  
  #ToDoHome {
    width: 700px;
    height: 600px;
    padding: 40px;
    border: 6px solid black;
    border-radius: 50px;
    box-sizing: border-box;
  }
  
  .headerForToDo {
    background-color: black;
    padding: 20px 30px;
    color: white;
    text-align: center;
    border-radius: 20px;
    &:after {
      content: " ";
      display: table;
      clear: both;
    }
  }
  
  /* Clear floats after the header */
  
  input {
    margin: 0;
    border: none;
    border-radius: 0;
    width: 75%;
    padding: 10px;
    float: left;
    font-size: 16px;
  }